@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Playfair Display';
    margin: 0;
    padding: 0;
  }



  .navbar {
    background-color: #303030;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 10px;
    font-size: 24px;
  }
  
  .navbar-title {
    display: none;
  }
  
  .navbar-title:hover {
    color: #ff369e;
  }
  
  .navbar-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  
  .nav-item {
    margin-right: 15px;
    color: #f41eff;
    text-decoration: none;
  }
  
  .nav-item:hover {
    color: #ffd700; 
  }
  
  button {
    background-color: black;
    color: #36ff4a;
    margin: 20px;
    padding: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(255, 0, 221);
    color: #000000;
    margin: 20px;
    padding: 4px;
    cursor: pointer;
  }
  
  

.travel-section {
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .travel-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  }
  
  .travel-container {
  position: absolute;
  }
  
  .travel-header {
    font-size: 70px;
  }
  
  .travel-header:hover {
    color: #ff4444;
  }
  
  .travel-content {
    font-style: italic;
  }
  
  .travel-content:hover {
    color: #ff0000;
  }
  
  
  
  
  
  #best-features {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .best-features-header-section {
    margin-top: 60px;
    font-size: larger;
    margin-bottom: 50px;
  }
  
  .best-features-header:hover {
    color: #ff2194;
  }
  
  .best-features-item-1 {
    margin-left: 70px;
    margin-right: 70px;
    font-style: italic;
    margin-bottom: 50px;
  }
  
  .best-features-item-2 {
    margin-left: 70px;
    margin-right: 70px;
    font-style: italic;
    margin-bottom: 50px;
  }
  
  .best-features-item-3 {
    margin-left: 70px;
    margin-right: 70px;
    font-style: italic;
    margin-bottom: 50px;
  }
  
  
  #stunning-examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    gap: 40px;
    margin-bottom: 60px;
  }
  
  
  
  